@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Bungee|Montserrat|Oswald|Poppins|Press+Start+2P');

 $position-font: 'Press Start 2P',cursive; 
 $position-font-two: 'Oswald';

/* $header-font: 'Bungee'; */
$header-font: 'Baloo Tamma';

$primary-text-font: 'Montserrat';


$ultra-dark-blue: #0e1820;
$dark-blue: #0f334d;
$mid-blue: #0b5d85;
$dirty-grey: #b8b7c5;
$dirty-gray: #b8b7c5;
$dirty-white: #f0dde0; 


$dirty-grey-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQoU2Ps7e3/r61lxkAIMO7YfvQ/IUUgeTorvHrtFAPM/XitJlohsidp4BliAxwAcmwmCZIBkm8AAAAASUVORK5CYII=);
$dirty-gray-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQoU2Ps7e3/r61lxkAIMO7YfvQ/IUUgeTorvHrtFAPM/XitJlohsidp4BliAxwAcmwmCZIBkm8AAAAASUVORK5CYII=);
$dark-blue-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2PkN/b9z0AEYCReoYoxqon8UljNJ8FE6ruRYhM/PkPxFPU9AwA2nhFukSpK3gAAAABJRU5ErkJggg==);
