@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Bungee|Montserrat|Oswald|Poppins|Press+Start+2P');

 $position-font: 'Press Start 2P',cursive; 
 $position-font-two: 'Oswald';

/* $header-font: 'Bungee'; */
$header-font: 'Baloo Tamma';

$primary-text-font: 'Montserrat';


$ultra-dark-blue: #0e1820;
$dark-blue: #0f334d;
$mid-blue: #0b5d85;
$dirty-grey: #b8b7c5;
$dirty-gray: #b8b7c5;
$dirty-white: #f0dde0; 
