@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma|Bungee|Montserrat|Oswald|Poppins|Press+Start+2P");
/* $header-font: 'Bungee'; */
#home {
  border: 1px none;
  height: 75%; }

#home .titleHead {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#home .titleHead > div {
  width: 100%; }

#home .titleHead .titlename {
  font-size: 20px;
  border-bottom: 5px solid black; }

#home .homeContCon {
  font-family: "Montserrat"; }

#home .homeContCon #homeBio {
  font-size: 20px;
  padding: 6% 6% 6% 4%; }

#home .homeContCon #homeSkill {
  font-family: "Oswald"; }

#home .homeContCon #homeSkill .homeSkillsTitle {
  font-size: 28px;
  padding-left: 4%; }

#home .homeContCon #homeSkill .homeSkillOutCont {
  border: 1px none;
  padding-left: 4%; }

#home .homeContCon #homeSkill .homeSkillOutCont .skillContain {
  border: 1px none;
  height: 4vh;
  font-size: 23px;
  margin-bottom: 2%; }

#home .homeContCon #homeSkill .homeSkillOutCont .skillContain .skillNameText {
  position: relative;
  z-index: 3; }

#home .homeContCon #homeSkill .homeSkillOutCont .skillContain .skillNameText p {
  color: #0f334d; }

#home .homeContCon #homeSkill .homeSkillOutCont .skillContain .skillLvlCont {
  position: relative;
  z-index: 2;
  height: 100%;
  top: -100%; }

#home .homeContCon #homeSkill .homeSkillOutCont .skillContain .skillLvlCont .skillFill {
  height: 100%;
  background: #b8b7c5;
  margin-left: -1px;
  -webkit-box-shadow: 28px 33px 37px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 28px 33px 37px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 28px 33px 37px 5px rgba(0, 0, 0, 0.35); }

#home .homeContCon #homeSkill .homeSkillOutCont .skillContain .skillLvlCont .skillFill:last-of-type {
  border-right: 3px solid #b8b7c5; }

@media (min-width: 1200px) {
  .homeSkillsTitle {
    margin-bottom: 2% !important; } }
