@import '../settings.scss';

#homeContainer {
  border: 1px none;
  height: 100%;

  .titleHead {
    display: flex;
    flex-direction: column;
    justify-content: center; 

    > div {
      width: 100%;
    }
    .titlename {
      font-size: 20px; 
      border-bottom: 5px solid black;
    }
  }
}