@import '../settings.scss';

#home {
  border: 1px none;
  height: 75%;

  .titleHead {
    display: flex;
    flex-direction: column;
    justify-content: center; 

    > div {
      width: 100%;
    }
    .titlename {
      font-size: 20px; 
      border-bottom: 5px solid black;
    }
  }

  .homeContCon {

    font-family: $primary-text-font;
  
    #homeBio {
      font-size: 20px;
      padding: 6% 6% 6% 4%;
    }

    #homeSkill {
      font-family: $position-font-two;
      .homeSkillsTitle {
        font-size: 28px;
        padding-left: 4%;

      }
      .homeSkillOutCont {
        border: 1px none;
        padding-left: 4%;
        .skillContain {
          border: 1px none;          
          height: 4vh;
          font-size: 23px;
          margin-bottom: 2%;
          .skillNameText {
            position: relative;
            z-index: 3;
            p {
              color: $dark-blue
            }
          }
          .skillLvlCont {
            position: relative; 
            z-index: 2;
            height: 100%;
            top: -100%;

            .skillFill {
              height: 100%;
              background: $dirty-grey;
              margin-left: -1px;
              -webkit-box-shadow: 28px 33px 37px 5px rgba(0, 0, 0, 0.35);
              -moz-box-shadow: 28px 33px 37px 5px rgba(0, 0, 0, 0.35);
              box-shadow: 28px 33px 37px 5px rgba(0, 0, 0, 0.35);
              &:last-of-type {
                border-right: 3px solid $dirty-grey;
              }
            }
          }
        }

      }
    }
  }

}