@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma|Bungee|Montserrat|Oswald|Poppins|Press+Start+2P");
/* $header-font: 'Bungee'; */
#ImageContainer {
  padding: 0;
  height: 100vh;
  overflow: hidden; }

#ImageContainer .picContain {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  transition: all 0.2s ease; }

#ImageContainer .picContain .actualPic {
  height: 100%;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  position: absolute !important; }

.notActivePic {
  display: none !important; }

.activePic {
  display: block !important;
  opacity: 1 !important;
  right: 100% !important; }

.fade {
  display: block  !important;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 5.0s; }

@-webkit-keyframes fade {
  from {
    opacity: .2; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .2; }
  to {
    opacity: 1; } }
