@import '../settings.scss';


#ImageContainer {
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  .picContain {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0; 
    transition: all 0.2s ease;
    opacity: 0;
    .actualPic {
      height: 100%;
      width: 100%;
      background-position: center !important;
      background-size: cover !important;
 

    }
    #actualPic0 {
      background-size: contain !important;
    }

  }
}


.activePic {
  order: 0;
  opacity: 1 !important;
  z-index: 100;

}

.fade {
  display: block  !important;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 5.0s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}