@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma|Bungee|Montserrat|Oswald|Poppins|Press+Start+2P");
/* $header-font: 'Bungee'; */
#projects {
  display: none; }

#projects .projectContainer {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2PkN/b9z0AEYCReoYoxqon8UljNJ8FE6ruRYhM/PkPxFPU9AwA2nhFukSpK3gAAAABJRU5ErkJggg==);
  position: relative;
  z-index: 2;
  padding: 16% 0 0 0; }

#projects .projectContainer .project {
  margin-bottom: 10%;
  color: #0f334d;
  font-size: 16px;
  padding: 0; }

#projects .projectContainer .project .projectTop {
  width: auto;
  padding: 0; }

#projects .projectContainer .project .projectCon {
  background: #f0dde0;
  width: 200%;
  padding-left: 3%;
  -webkit-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
  box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55); }

#projects .projectContainer .project .projectCon:hover {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQoU2Ps7e3/r61lxkAIMO7YfvQ/IUUgeTorvHrtFAPM/XitJlohsidp4BliAxwAcmwmCZIBkm8AAAAASUVORK5CYII=);
  cursor: pointer;
  position: relative;
  top: 5px;
  -webkit-box-shadow: 18px 16px 50px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 16px 50px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 18px 16px 50px 8px rgba(0, 0, 0, 0.75); }

#projects .projectContainer .project .projectCon .projectName {
  font-family: "Oswald";
  font-size: 30px; }

#projects .projectImageView {
  border: 1px none;
  width: 90%;
  margin-right: 5px;
  position: absolute;
  z-index: 1;
  height: 73vh;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
  color: #0f334d; }

#projects .projectImageView * {
  opacity: 0; }

#projects .projectImageView .projectimgcontainer {
  height: 90%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2PkN/b9z0AEYCReoYoxqon8UljNJ8FE6ruRYhM/PkPxFPU9AwA2nhFukSpK3gAAAABJRU5ErkJggg==);
  padding: 2% 4% 4%; }

#projects .projectImageView .projectimgcontainer .projimgimgcontainer {
  padding: 0;
  margin-bottom: 2%;
  border: 10px solid #b8b7c5;
  width: 80%;
  -webkit-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
  box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55); }

#projects .projectImageView .projectimgcontainer .projectimgtop {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQoU2Ps7e3/r61lxkAIMO7YfvQ/IUUgeTorvHrtFAPM/XitJlohsidp4BliAxwAcmwmCZIBkm8AAAAASUVORK5CYII=);
  font-family: "Oswald";
  width: auto;
  padding-left: 5px;
  padding-right: 15px;
  -webkit-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
  box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55); }

#projects .projectImageView .projectimgcontainer .projectimgtop .projImgName, #projects .projectImageView .projectimgcontainer .projectimgtop .projFrame {
  display: inline; }

#projects .projectImageView .projectimgcontainer .projectimgtop .projImgName {
  font-size: 30px; }

#projects .projectImageView .projectimgcontainer .projectimgtop .projFrame {
  font-size: 20px;
  padding-left: 40px; }

#projects .projectImageView .projectimgcontainer .projectBottom {
  margin-top: -1px;
  padding: 0;
  display: flex;
  flex-direction: column; }

#projects .projectImageView .projectimgcontainer .projectBottom .purpose {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQoU2Ps7e3/r61lxkAIMO7YfvQ/IUUgeTorvHrtFAPM/XitJlohsidp4BliAxwAcmwmCZIBkm8AAAAASUVORK5CYII=);
  font-size: 20px;
  width: auto;
  max-width: max-content;
  padding: 0 10px 0 5px;
  margin-bottom: -1px;
  -webkit-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
  box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55); }

#projects .projectImageView .projectimgcontainer .projectBottom .purpose:first-of-type {
  margin-top: -1px; }

#projects .projectImageView .projLinks {
  font-family: "Oswald";
  height: 10%;
  padding-left: 40px;
  color: #0f334d;
  -webkit-box-shadow: 0px -31px 63px 6px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px -31px 63px 6px rgba(0, 0, 0, 0.49);
  box-shadow: 0px -31px 63px 6px rgba(0, 0, 0, 0.49);
  font-size: 25px; }

#projects .projectImageView .projLinks .projinnerLink {
  padding-top: 10px;
  text-transform: capitalize; }

.activeImageView {
  right: 99% !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQoU2Ps7e3/r61lxkAIMO7YfvQ/IUUgeTorvHrtFAPM/XitJlohsidp4BliAxwAcmwmCZIBkm8AAAAASUVORK5CYII=);
  width: 130% !important;
  opacity: 1 !important; }

.activeImageView * {
  opacity: 1 !important; }

.activeProject .projectCon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQoU2Ps7e3/r61lxkAIMO7YfvQ/IUUgeTorvHrtFAPM/XitJlohsidp4BliAxwAcmwmCZIBkm8AAAAASUVORK5CYII=) !important;
  cursor: pointer; }

/* I need to fix this bug... Media queries aren't being read inside scss blocks */
@media (min-width: 990px) {
  #projects .projectContainer {
    height: 73vh; }
  #projects .projectImageView {
    height: 73vh; }
  #projects .projectImageView #projectBottom2, #projects .projectImageView #projectBottom3 {
    width: 90%; } }

@media (min-width: 1080px) {
  #projects .projectimgcontainer {
    padding: 2% 4% 4% 2% !important; }
  #projects .projectContainer {
    height: 68vh;
    padding: 13% 0 0 0; }
  #projects .projectImageView {
    height: 70vh; } }
