@import '../settings.scss';

#projects {
  display: none;
  
  .projectContainer {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2PkN/b9z0AEYCReoYoxqon8UljNJ8FE6ruRYhM/PkPxFPU9AwA2nhFukSpK3gAAAABJRU5ErkJggg==);
    position: relative;
    z-index: 2;
    padding: 16% 0 0 0;
    .project {
      
      margin-bottom: 10%;
      color: $dark-blue;
      font-size: 16px;
      padding: 0;
      .projectTop {
        width: auto;
        padding:0;
      }
      .projectCon {
        background: $dirty-white;
        width: 200%;
        padding-left: 3%;

      -webkit-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
      box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
        
        &:hover {
          background: $dirty-grey-bg;
          cursor: pointer;
        }

        .projectName {
          font-family: $position-font-two;
          font-size: 30px;
        }
      }
    }
  }
  .projectImageView {
    border: 1px none;
    width: 90%;
    margin-right: 5px;
    position: absolute;
    z-index: 1;
    height: 73vh;
    right: 0;
    opacity: 0;
    transition: all 0.2s ease-out; 
    color: $dark-blue;
    * {
      opacity: 0;
    }

    .projectimgcontainer {
      
      height: 90%;
      background: $dark-blue-bg;
      padding:2% 4% 4%;

      .projimgimgcontainer {
        padding: 0;
        margin-bottom:2%;
        border: 10px solid $dirty-grey; 
        width: 80%; 
        -webkit-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
        box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
      }
      .projectimgtop {
        background: $dirty-grey-bg;
        font-family: $position-font-two;
        width: auto;
        padding-left: 5px;
        padding-right: 15px;
        -webkit-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
        box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
        .projImgName,.projFrame {
          display: inline;

        }
        .projImgName {
          font-size: 30px;
        }
        .projFrame {
          font-size: 20px;
          padding-left: 40px;
        }
      }
      .projectBottom {
        margin-top: -1px;
        padding: 0;
        .purpose {
          background: $dirty-grey-bg;
          font-size: 20px;
          width: auto;
          padding: 0 10px 0 5px;
          margin-bottom: -1px;
          -webkit-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
          -moz-box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);
          box-shadow: 18px 26px 50px 8px rgba(0, 0, 0, 0.55);          
          

          &:first-of-type {
            margin-top: -1px;
          }
        }

      }


    }
    .projLinks {
      font-family: $position-font-two;
      height: 10%;
      padding-left: 40px;
      color: $dark-blue;
      -webkit-box-shadow: 0px -31px 63px 6px rgba(0,0,0,0.49);;
      -moz-box-shadow: 0px -31px 63px 6px rgba(0,0,0,0.49);;
      box-shadow: 0px -31px 63px 6px rgba(0,0,0,0.49);;
      
      .projinnerLink {
        padding-top: 10px;
      }

    }
  }

}
.activeImageView {
  right: 99% !important;
  background: $dirty-grey-bg;
  width: 130% !important;
  opacity: 1 !important;
  * {
    opacity: 1 !important;
  }

}
.activeProject {
  .projectCon {
    background: $dirty-grey-bg !important;
    cursor: pointer;
  }
}


/* I need to fix this bug... Media queries aren't being read inside scss blocks */
@media (min-width: 990px) {
  #projects {

    .projectContainer {
      height: 73vh;
    }
    .projectImageView {
      height: 73vh;
  
      #projectBottom2, #projectBottom3 {
        width: 90%;
      }

    }
  }
}