@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma|Bungee|Oswald|Press+Start+2P");
/* $header-font: 'Bungee'; */
#titleHeaderContain {
  padding: 0; }
  #titleHeaderContain .titleName {
    border-bottom: 1px solid black;
    font-size: 30px;
    font-family: "Baloo Tamma"; }
  #titleHeaderContain .titleNameContainer {
    width: 40%;
    padding: 0 0 0 10%; }
    #titleHeaderContain .titleNameContainer .titleLastName {
      position: relative;
      left: 25%; }
  #titleHeaderContain #titleHeaderPosition {
    margin-top: 2%;
    display: flex;
    /*  #titleposition1 {
    
    font-family: $position-font;
  } */
    /*   #titleposition2 {

    font-size: 16px;
  } */ }
    #titleHeaderContain #titleHeaderPosition > div {
      width: 33%;
      text-align: right;
      font-size: 16px;
      height: 4vh;
      font-family: "Oswald"; }
