@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma|Bungee|Montserrat|Oswald|Poppins|Press+Start+2P");
/* $header-font: 'Bungee'; */
#experience {
  display: none; }
  #experience .workExpContInner {
    margin-bottom: 2%;
    padding-left: 4% !important; }
    #experience .workExpContInner .workContainTopHalf {
      font-family: "Oswald"; }
      #experience .workExpContInner .workContainTopHalf .workName {
        font-size: 25px; }
      #experience .workExpContInner .workContainTopHalf .workDate {
        font-size: 16px; }
      #experience .workExpContInner .workContainTopHalf .workPosition {
        font-size: 20px; }
    #experience .workExpContInner .workContainBottomHalf {
      font-family: "Montserrat"; }
      #experience .workExpContInner .workContainBottomHalf .duty {
        border-bottom: 0.5px solid #b8b7c5;
        display: flex;
        background: #b8b7c5;
        color: #0f334d;
        font-weight: 600;
        font-size: 14.5px;
        width: auto;
        padding-right: 5px;
        margin-bottom: -1px;
        -webkit-box-shadow: 28px 33px 37px 5px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 28px 33px 37px 5px rgba(0, 0, 0, 0.35);
        box-shadow: 28px 33px 37px 5px rgba(0, 0, 0, 0.35); }
